<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">

      <title>MERAki</title>
      
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="css/responsive.css">

      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

      <link rel="icon" href="images/logo.png">

      <script src="https://kit.fontawesome.com/b61106886b.js" crossorigin="anonymous"></script>
   
   </head>
   <body class="main-layout">
         <div class="loader_bg">
            <div class="loader"><img src="images/loading.gif" alt="#" /></div>
         </div>
         <header>
            <div class="header">
               <div class="container">
                  <div class="row">
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                           <div class="center-desk">
                              <div class="logo">
                                 <a href="/"><img src="images/logo.png" alt="" width="300"></a>
                              </div>
                           </div>
                        </div>
                     </div>
   
                     <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <nav class="navigation navbar navbar-expand-md navbar-dark ">
                           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                           <span class="navbar-toggler-icon"></span>
                           </button>
                           <div class="collapse navbar-collapse" id="navbarsExample04">
                              <ul class="navbar-nav mr-auto">
                                 <li class="nav-item">
                                    <a class="nav-link" href="#about">About </a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="#works">how it works?</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="#contact">Contact</a>
                                 </li>
                              </ul>
                              <div class="Call"><a href="https://wa.me/919205482036?text=Welcome%20to%20MERAki%2C%0APlace%20your%20order%20through%20text%20or%20phone%20call"> <span class="yellow">WhatsApp: </span>9205482036</a></div>
                           </div>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </header>
   
         <section class="banner_main">
            <div class="container">
            <div class="row d_flex">
               <div class="col-md-12">
                  <div class="text-bg">
                     <h1>Your smartest and easiest with assured price's.</h1>
                     <h2>Purchasing Experience</h2>
                     <a class="read_more" href="https://wa.me/919205482036?text=Welcome%20to%20MERAki%2C%0APlace%20your%20order%20through%20text%20or%20phone%20call">
                     <i class="fa fa-whatsapp fa-lg" aria-hidden="true"></i> let's work together
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </section>

      <section id="about">
         <div class="statement">
            <h2>Times Have Changed</h2>
            <h1>"Word Of Mouth" Has Moved Online</h1>
            <h3>An online platform that match with retailers with or manufacturer's. Our mission is to support B2B supply chain and empower traditional small and medium retailers to carryout more efficient trust by providing technology solutions</h3>
         </div>
      </section>
      
      <section id="works">
         <h1>How It Works?</h1>
         <div class="row">
            <div class="col-lg-4 col-md-12 feature">
               <i class="fa fa-whatsapp fa-10x ico" aria-hidden="true"></i>
               <h3>Send Requirements.</h3>
                <h4>Post your requirement, range of products.</h4>
               </div>
               <div class="col-lg-4 col-md-12 feature">
                  <i class="fa fa-exchange-alt fa-10x ico" aria-hidden="true"></i>
                  <h3>compare offer's</h3>
                  <h4>We send all catlok according to your requirement.</h4>
               </div>
               <div class="col-lg-4 col-md-12 feature ">
                  <i class='fas fa-couch fa-10x'></i>
                  <h3>enjoy & relex.</h3>
                  <h4>Place your order, No need to hussle for purchasing.</h4>
               </div>
            </div>
         </section>

      <section id="market">
         <div class="row">
               <div class="info col-lg-8 col-md-12">
                   <h1>Marketplace</h1>
                   <h2>Manufacturer, wholesalers and retailers in one place.</h2>
                   <h3>Live and updated view of products and prices.</h3>
                   <h3>Seamless experience with fast fullfillment Expanded reach and coverage for manufacturers and wholesalers</h3>
               </div>
               <div class="icon col-lg-4 col-md-12">
                  <i class='fas fa-store fa-10x'></i>
              </div>
         </div>
      </section>

      <section id="contact">
         <div class="row">
            <div class="col-md-5 image">
               <h1>Contact Us</h1>
               <h2>👇Click Here👇</h2>
               <a href="https://wa.me/919205482036?text=Welcome%20to%20MERAki%2C%0APlace%20your%20order%20through%20text%20or%20phone%20call">
                  <i class="fa fa-whatsapp fa-10x ico" aria-hidden="true"></i>
               </a>
            </div>
            <div class="col-md-6">
               <form id="request" class="main_form" method="post" action="/message">
                  <div class="row">
                     <div class="col-md-12 ">
                        <input class="contactus" placeholder="Name" type="type" name="Name"> 
                     </div>
                     <div class="col-md-12">
                        <input class="contactus" placeholder=" Email" type="type" name="Email"> 
                     </div>
                     <div class="col-md-12">
                        <input class="contactus" placeholder=" Phone Number" type="type" name="Phone">                          
                     </div>
                     <div class="col-md-12">
                        <textarea class="contactus" placeholder="Message" type="type" Message="Name" name="Message">Message </textarea>
                     </div>
                     <div class="col-sm-12">
                        <button type="submit" class="send_btn">Send</button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </section>
   <footer id="footer">
      <a href="#" class="s-ico"><i class="fab fa-whatsapp"></i></a>
      <a href="#" class="s-ico"><i class="fab fa-instagram"></i></a>
      <a href="#" class="s-ico"><i class="fas fa-envelope"></i></a>
      <p>©Copyright 2021 MERAki</p>
    </footer>
         
   <script src="js/jquery.min.js"></script>
   <script src="js/popper.min.js"></script>
   <script src="js/bootstrap.bundle.min.js"></script>
   <script src="js/jquery-3.0.0.min.js"></script>
   <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
   <script src="js/custom.js"></script>
   <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      </body>
      </html>
      
      
