<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  
        <title>Message Sent</title>
        
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
        <link rel="icon" href="images/fevicon.png" type="image/gif" />
        <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
  
        <link rel="icon" href="images/logo.png">
  
        <script src="https://kit.fontawesome.com/b61106886b.js" crossorigin="anonymous"></script>
    
    </head>
<body style="background-color: #f6b219; text-align: center; margin-top:25%">
    <h1>Dear user,</h1>
    <h2>Thank you for Your Message</h2>
    <h2>we will get back to you as soon as possible</h2>
</body>
</html>